/* Estilos generales */
@font-face {
    font-family: 'MiFuente';
    src: url('../font/ComicMono.ttf') format('truetype');
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #24273a;  
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Sección de la portada */
.hero {
    background: url(fondo.png),#061930;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.hero h1 {
    font-family: 'MiFuente';
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Estilo para los botones*/
.hero .btn {
    display: inline-block;
    text-align: center;
    background-color: #5a6aff; /* Color de fondo */
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Tamaño consistente */
    font-weight: bold;
    border-radius: 5px;
    width: 200px; /* Ancho fijo */
    margin: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones para el hover */
}

.hero .btn:hover {
    background-color: #9ba5ff; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Sección de "Sobre mí" */
#about {
    text-align: center;
    background-color: #2b2f4b;
    padding: 50px 0;
    text-align: left;
}

#about h2 {
    text-align: center;
}
#about p {
    font-size: 1.2em;
    margin-top: 20px;
}

/* Sección de proyectos */
/* Sección de proyectos */
#projects {
    padding: 50px 0;
    background-color: #2b2f4b;
    text-align: center;
}

/* Contenedor principal de los proyectos */
.swiper-wrapper {
    display: flex; /* Esto coloca los proyectos en una fila */
    justify-content: center; /* Centra los proyectos horizontalmente */
    flex-wrap: wrap; /* Permite que los proyectos se ajusten a una nueva fila si no caben */
}

/* Cada tarjeta de proyecto */
.project-card {
    margin: 15px; 
    flex: 1 1 300px; 
    text-align: left; 
    background-color: #061930;
    border-radius: 8px; 
    padding: 20px; /* Espacio interno dentro de la tarjeta */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transiciones suaves para el hover */
}

/* Estilo de las imágenes dentro de las tarjetas */
.project-card img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho de la tarjeta */
    height: auto;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    margin-top: 10px;
}

/* Efecto hover para las tarjetas de proyectos */
.project-card:hover {
    background-color: #1b3758; /* Fondo suave al pasar el ratón */
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave al pasar el ratón */
}

/* Sección de habilidades */
.skill-box {
    border: 2px solid #333; /* Borde alrededor del cuadro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espacio alrededor del contenido */
    text-align: center; /* Alinea el contenido al centro */
    background-color: #f9f9f9; /* Color de fondo suave */
    transition: all 0.3s ease; /* Efecto de transición */
    width: 150px;
    margin: 10px;
    margin-bottom: 50px;
}
#skills h2 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 25px;
}
/* Efecto de hover para cada skill */
.skill-box:hover {
    background-color: #e0e0e0; /* Cambia el fondo al pasar el ratón */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra al pasar el ratón */
}

/* Estilo para los títulos */
.skill-box b {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Estilo para las imágenes */
.skill-box img {
    margin-top: 5px; /* Espacio entre el texto y la imagen */
    transition: transform 0.3s ease; /* Efecto de escala en la imagen */
}

.skill-box:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el ratón */
}



/* Navegación */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #061930;
    z-index: 1000;
}

nav .container {
    display: flex;
    justify-content: center;
    padding: 10px 20;
}

nav .nav-btn {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav .nav-btn:hover {
    background-color: #686868;
}
/* Estilo para el botón GitHub */
.btn-github {
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: black;  
    color: white;             
    padding: 10px 20px;       
    font-size: 16px;          /* Tamaño del texto */
    font-weight: bold;
    text-decoration: none;    /* Elimina el subrayado del enlace */
    border-radius: 5px;       /* Bordes redondeados */
    margin-top: 15px;         /* Espacio arriba del botón */
    border-radius: 5px;
    width: 200px; /* Ancho fijo para ambos botones */
    margin: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones para el hover */

}


/* Estilo para el ícono de GitHub */
.btn-github svg {
    fill: white;              /* El ícono será blanco */
    width: 20px;              /* Tamaño del ícono */
    height: 20px;             /* Tamaño del ícono */
}

/* Cambiar el color de fondo cuando se pasa el mouse sobre el botón */
.btn-github:hover {
    background-color: #333;  /* Fondo gris oscuro al pasar el mouse */
}

/* Sección de contacto */
#contact{
    background: url(fondo.png),#061930;
    color: white;
    padding: 50px 0;
    text-align: center;
}
#contact .btn {
    display: inline-block;
    padding: 10px; 
    transition: all 0.3s ease;
}

#contact .btn:hover {
    background-color: #1b3758; 
    transform: scale(1.0); 
}
#contact .contact-icons {
    margin-bottom: 30px;
  }
  
  #contact .contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff1e;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
  }
  
  #contact .contact-form h3 {
    margin-bottom: 15px;
  }
  
  #contact form input,
  #contact form textarea {
    font-family: 'MiFuente';

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
  }
  
  #contact form button {
    display: inline-block;
    background-color: #2c3ff1;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(95, 109, 235, 0.3);
  }
  
  #contact form button:hover {
    background-color: #788aff;
    transform: scale(1.05);
  }
/* --------------------- */
/* ESTILOS RESPONSIVOS 📱 */
/* --------------------- */
@media screen and (max-width: 768px) {

    /* Contenedor */
    .container {
        width: 95%;
        padding: 0 10px;
    }

    /* NAV */
    nav .container {
        flex-direction: stack;
        align-items: flex-start;
        padding: auto;
    }
    nav .nav-btn {
        display: block;
        margin: 0px 0;
        font-size: 10px;
    }

    /* HERO */
    .hero h1 {
        font-size: 1.8em;
    }
    .hero {
        margin-top: auto; /* Ajusta este valor según el alto de tu navbar */
    }
    .btn{
        width: 100%;
        max-width: 280px;
        margin: 10px auto;
    }
    .btn-github {
        width: 100%;
        max-width: 203px;
        margin: 10px auto;
    }

    /* SKILLS */
    #skills table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* o space-between */
        gap: 10px;
    }

    #skills td {
        width: 90%;
        margin: 5px 0;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }

    .skill-box {
        width: 100%;
        max-width: 180px;
        margin-bottom: 20px;
    }

    /* PROYECTOS */
    .swiper-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
        margin: 15px auto;
    }

    /* CONTACTO */
    #contact .btn i {
        flex-direction: column;
        font-size: 24px;
        padding: 8px;
    }

    #contact .contact-form {
        width: 100%;
        padding: 20px;
    }

    #contact form input,
    #contact form textarea {
        font-size: 14px;
    }

    #contact form button {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    #contact .container {
        display: flex;            /* Utiliza flexbox */
        flex-direction: row;      /* Cambia a fila */
        justify-content: center;  /* Alinea los íconos en el centro */
        gap: 20px;                /* Espacio entre los íconos */
        text-align: center;       /* Asegura que los íconos estén centrados */
        align-items: center;      /* Alinea los íconos en el centro */
    }
    
      #contact a {
        margin: 0; /* Elimina el margen entre íconos */
      }
}

  
